
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$navbar-light-color: #fff;
$navbar-light-hover-color: #fff;
$navbar-div-hover-color: #415A76;
$navbar-padding-y: 0;
$navbar-light-active-color: #fff;
$color-base: #4c6989;
$post-background: #fff;
$primary: #4c6989;
$success: #4c896c;
$danger: #894c69;
$error: #c00000;
$done: green;
$notice: orange;
$info: #1164b4;
$warning: #fff;
$theme-colors: () !default;



$theme-colors: map-merge((
        "error" : $error,
        "done" : $done,
        "notice" : $notice,
        "info" : $info
), $theme-colors);
