
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$navbar-light-color: #fff;
$navbar-light-hover-color: #fff;
$navbar-div-hover-color: #415A76;
$navbar-padding-y: 0;
$navbar-light-active-color: #fff;
$color-base: #4c6989;
$post-background: #fff;