
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "category";
@import "post";
@import "profile";

li {
  list-style: none;
}

a {
  color: #212529;
}

a:hover {
  color: #4c6989;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar-laravel {
  background-color: #4c6989;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.nav-link {
  text-transform: uppercase;
}

.navbar-hover {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}

.navbar-hover:hover {
  background-color: $navbar-div-hover-color;
}

.navbar {
  padding: 0 1.5rem;
}

.navbar-brand {
  color: $navbar-light-color;
}

a:hover {
  text-decoration: none;
}

.py-4 {
  flex: 1;
}

.footer-block {
  background-color: #4c6989;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}

.footer-block a {
  color: #fff;
  display: inline-block;
  padding: 0.5rem;
  font-size: 0.8rem;
}

.footer-block a:hover {
  background-color: $navbar-div-hover-color;
}