.category-block {
  background: #fff;
  position: sticky;
  top: 8rem;
  z-index: 1020;
  border: 1px solid #cbd6e2;
  padding: 0 1.2rem;
  margin: 3rem 0;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  -o-border-radius: 15px 15px 15px 15px;
  border-radius: 15px 15px 15px 15px;
}

@media (min-width: 768px) {
  .collapse:not(.show) {
    display: block;
  }
  .category-block-header button{
    display: none;
  }
  .category-block-header span{
    display: block;
  }
}

@media (max-width: 767px) {
  .category-block {
    margin: 0;
  }
  .category-block-header button{
    display: block;
  }
  .category-block-header span{
    display: none;
  }
}

.category-block-header span {
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #333;
  width: 100%;
  text-align: center;
}

.category-block-header button span {
  display: inline-block;
}

.category-block-header button {
  width: 100%;
  outline: none;
}

.category-block-header {
  border-bottom: 1px solid #cbd6e2;
  padding: 0.6rem 0;
}

.category-list {
  box-sizing: border-box;
  margin: 0;
  padding: 0 0 5px 0;
  list-style: none;
}

.category-item {
  border-bottom: 1px solid #cbd6e2;
}

.category-item:hover {
  color: #333;
  background: rgba(76, 105, 137, 0.08);
  text-decoration: none;
}

.category-item:last-child {
  border: none;
}

.category-link {
  display: flex;
  justify-content: space-between;
  color: #4c6989;
  overflow: hidden;
  padding: 0.4rem 0;
}

.category-link:hover {
  color: #4c8889;
}

.navbar-toggler {
  outline: none;
}

.filter-list {
  border-bottom: 1px solid #cbd6e2;
}

.filter-list input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #4c6989;
  overflow: hidden;
  margin: 0.4rem 0;
}

.filter-list:last-child {
  border: none;
}

@media (max-width: 767px) {
  .filter-block {
    display: none;
  }
}