.post-item {
  margin: 3rem 0 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 0.11rem solid #4c6989;
}

.post-item h2 {
  text-transform: uppercase;
  color: rgb(76, 105, 137);
  font-size: 2.14rem;
}

.post-list {
  margin: 0 0 3rem 0;
  padding: 0;
  list-style: none;
}

.post-block {
  background: $post-background;
  margin-top: 3rem;
  position: relative;
  box-sizing: border-box;
  padding-top: 0.7rem;
  transition: box-shadow 150ms linear;
  box-shadow: 0 1px 3px rgba(76,105,137,.28);
  border: 0.07rem solid #cbd6e2;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  -o-border-radius: 15px 15px 15px 15px;
  border-radius: 15px 15px 15px 15px;
}

.post-block:first-child {
  margin-top: 0;
}

.post-block:hover {
  -webkit-box-shadow: 0 0 10px 0 rgba(76,105,137,0.61);
  -moz-box-shadow: 0 0 10px 0 rgba(76,105,137,0.61);
  box-shadow: 0 0 10px 0 rgba(76,105,137,0.61);
}

.post-block-header {
  margin-top: 0;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}

.post-block-header h3 {
  margin-bottom: 0;
}

.post-block-header-link {
  color: #545454;
}

.post-block-header-link:hover {
  color: #000;
}

.post-block-content {
  padding: 0.7rem;
}

.body-content {
  overflow: hidden;
}

.body-img {
  width: 12.9rem;
  margin-right: 1.5rem;
}

@media (max-width: 425px) {
  .body-img {
    width: 100%;
  }
}

.body-img-full {
  width: 100%;
  margin-bottom: 1rem;
}

.read-more {
  text-align: right;
}

.read-more a {
  color: #6c757d;
}

.read-more a:hover {
  color: #000;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tags-list {
  padding: 0.5rem;
}

.tags-list-link {
  color: #545454;
}


.statistics {
  background: #e9ecef;
  text-align: right;
  padding: 0.7rem 0 0.7rem 0;
}

.post-statistics {
  margin: 0 0.7rem 0 0.7rem;
  display: inline-block;
}

.post-statistics a {
  color: #545454;
}

.post-statistics a:hover {
  color: #4c8889;
}

.more-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.more-post-button {
  margin-top: 15px;
  width: 100%;
  text-align: center;
  padding-top: 1.1rem;
  cursor: pointer;
}

.more-post-button svg {
  width: 14.3rem;
  height: 3.6rem;
  opacity: 0.2;
}