.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: $navbar-div-hover-color;
}

.tab-block-left, .tab-block-right {
  margin-top: 3rem;
}

.tab-link {
  color: #212529;
  text-align: center;
}

.profile-block {
  margin-bottom: 3rem;
  transition: box-shadow 150ms linear;
  box-shadow: 0 1px 3px rgba(76,105,137,.28);
  border: 0.07rem solid #cbd6e2;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  -o-border-radius: 15px 15px 15px 15px;
  border-radius: 15px 15px 15px 15px;
}

.profile-block:hover {
  -webkit-box-shadow: 0 0 10px 0 rgba(76,105,137,0.61);
  -moz-box-shadow: 0 0 10px 0 rgba(76,105,137,0.61);
  box-shadow: 0 0 10px 0 rgba(76,105,137,0.61);
}

.form-active {
  padding: 1rem;
}

.form-group input, .form-group textarea {
  background: none;
  color: #4c6989;
  letter-spacing: 1px;
  border: 1px solid #cbd6e2;
  padding: 0.5rem 0.6rem;
  outline: none;
  outline: 0;
  outline-offset: 0;
  box-shadow: none;
}

.form-control {
  display: block;
  padding: 0.4rem 0.9rem;
  line-height: 1.42857143;
  color: #555;
  background: #fff;
  background: none;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.profile-block .button {
  text-align: right;
  outline: none;
}

.btn:focus, .btn-primary:focus {
  box-shadow: none;
}

.post-manage-buttons {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0 0 0;
}

@media (max-width: 424px) {
  .post-manage-buttons {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .post-manage-buttons form {
    width: 100%;
  }
  .manage-button {
    margin-top: 1rem;
    width: 100%;
  }
  .manage-button:first-child {
    margin-top: 0;
  }
}
